<mat-toolbar color="primary">
  Flora UniMol
</mat-toolbar>

<amplify-authenticator>
  <ng-template amplifySlot="authenticated" let-user="user" let-signOut="signOut">
    <div class="container">
      <div class="text">
        <span>🍪</span>
        <span *ngIf="this.prediction">{{ this.prediction }}</span>
        <span>🍪</span>
      </div>

      <button *ngIf="!this.prediction" mat-raised-button color="primary" (click)="getPrediction()">
        Take a cookie
      </button>

      <button *ngIf="this.prediction" mat-raised-button color="primary" (click)="getPrediction()">
        Take another cookie
      </button>
    </div>
  </ng-template>
</amplify-authenticator>
